<p>image-hover-zoom-effect works!</p>
<div class="img-zoom-container">
    <!-- <img id="myimage" [src]="urlImg" width="300" height="240" alt="Girl"> -->
    <img id="myimage" src="https://images-na.ssl-images-amazon.com/images/I/61stQYWQO4L._SY450_.jpg" width="300" height="240" alt="Girl">
    
    <div id="myresult" class="img-zoom-result"></div>
  </div>
  
  <!-- <div class="thumbnail">
    <div class="image">
        <img  src="http://placehold.it/320x240" alt="Some awesome text"/>
    </div>
</div> -->
